<% include ../partials/header %>
    <% include ../partials/nav %>
        <div class='container'>
            <div class='jumbotron'>
                <h2>Business Directory</h2>
                <h4>(working title)</h4>
                <a href='/business/new'><button class='btn btn-xs btn-success'>Add a business</button></a>
            </div>
            <div class="row">
                <% data.forEach(function(bus) { %>
                    <div class='col-xs-12 col-md-6 col-lg-3'>
                        <div id='businessLogo'>
                            <img class='thumbnail' src='<%= bus.logo %>'>
                        </div>
                        <div id='businessHeader'>
                            <h2><a href='/business/<%= bus._id %>'><%= bus.bname %></a></h2>
                            <p>Owner: <%= bus.owner.firstname %> <%= bus.owner.lastname %></p>
                        </div>
                        <div id='businessBody'>
                            <p>Website: <a href='<%= bus.url %>'><%= bus.url.substring(0,25) %>...</a></p>
                            <p><%= bus.desc.substring(0,127) %> ... </p>
                            <!--<h4>Video</h4>
                            <iframe width="280" src="<%= bus.video %>" frameborder="0" allowfullscreen></iframe>-->
                        </div>
                        <div id='businessFooter'>
                            <p><em>created:</em> <i><%= bus.created.toDateString() %></i></p>
                        </div>
                        <p>
                            <a class="btn btn-primary" href='/business/<%= bus._id %>'>Click here</a>
                        </p>
                    </div>
                <% }) %>
            </div>
        </div>
<% include ../partials/footer %>