<% include ../partials/header %>
    <% include ../partials/nav %>
        <div class='container'>
            <div id="remove">
                <a href="<%=data._id %>/edit" class="btn btn-warning">Edit</a>
                <form action='/business/<%= data._id %>?_method=DELETE' method='POST'>
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div id='businessLogo'>
                <img class='thumbnail' src='<%= data.logo %>'>
            </div>
            <div id='showBusinessHeader'>
                <h1><%= data.bname %></h1>
            </div>
            <div id="showBusinessAddress">
                <p><strong>address:</strong></p>
                <p><%= data.address.street %></p>
                <p><%= data.address.city %>, <%= data.address.state %> <%= data.address.zipcode %></p>
            </div>
            <div id='showBusinessBody'>
                <h4>Owner: <%= data.owner.firstname %> <%= data.owner.lastname %>
                
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <img class="img-responsive" src="<%= data.images.img0 %>" alt="">
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <img class="img-responsive" src="<%= data.images.img1 %>" alt="">
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <img class="img-responsive" src="<%= data.images.img2 %>" alt="">
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <img class="img-responsive" src="<%= data.images.img3 %>" alt="">
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <img class="img-responsive" src="<%= data.images.img4 %>" alt="">
                    </div>
                </div>
                <div id='showDesc'>
                    <h3>Description:</h3>
                    <p><%= data.desc %></p>
                    <div id='showURL'>
                        <h4>For More Info: <a class='btn btn-xs btn-primary' href='<%= data.url %>'><%= data.bname %></a></h4>
                    </div>
                </div>
                <!--need embed conversion- perhaps npm embed-video-->
                <div id="showVideo">
                    <iframe width="420" height="345" src="<%= data.video %>" frameborder="0" allowfullscreen></iframe>
                </div>
                <a class="btn btn-primary" href='/business/<%= data._id %>/comments/new'>Comments</a>
            </div>
            
            <div>
                <% data.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12 commentBox">
                        <strong><%= comment.author.username %>
                        <span class="pull-right">10 Days ago</span></strong>
                        <p> <%= comment.text %> </p>
                        <span class="pull-right">
                            <div id="remove">
                                <a href="/business/<%= data._id %>/comments/<%=comment._id %>/edit" class="btn btn-warning">Edit</a>
                                <form class="remove" action="/business/<%= data._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </form>
                            </div>
                        </span>
                    </div>
                </div>
                 <% }) %>
            </div>
        </div>
<% include ../partials/footer %>